.title
    .container
        h2!= cart_title
form(action="")
    .cart__info
        .container
            .title
                span!= your_order
            .total__price
                span.total-cart
                !=currency
            .show-cart
            .clear-cart
                span!= remove_all
        //end container
    //end cart__info    
    .container
        .cart__form 
            label(for="name")!= user_name
            input#name(type="text")

            label(for="phone")!= user_phone
            input#phone(type="text")

            label(for="country")!= user_country
            select#country(name="country")
                option(value="ОАЭ") ОАЭ
                option(value="Россия" selected) Россия
            button.submit
                != submit_title
        //end cart__form
