include ../views/slider.pug           
.product__wrapper#product_list
    .container
        .title
            h2!= product_list_title
        div(uk-filter="target: .js-filter")
            ul.product__nav
                mixin product_nav(tag, link, link_name)
                    li(class!=attributes.class, uk-filter-control!=tag)
                        a(href= link)!= link_name

                +product_nav('', link_1, 'All')
                //- +product_nav('.hit', link_1, link_name_1)
                +product_nav('.hair', link_1, link_name_2 )
                +product_nav('.face', link_1, link_name_3 )
                +product_nav('.body', link_1, link_name_4 )
                +product_nav('.sets', link_1, link_name_5 )
                +product_nav('.tints', link_1, link_name_6 )
            
            //end product nav
            div.js-filter
                mixin product_item( tag_filter, prod_id, prod_img, prod_name, prod_price, currency )
                    div.product__item(class!= tag_filter)
                        div
                            .product__image.select_prod(data-pid=prod_id)
                                img( async src=prod_img, alt="")
                            .product__name.select_prod(data-pid=prod_id)
                                p!= prod_name                    
                            .product__item__price.add-to-cart(data-pid=prod_id data-name=prod_name data-img=prod_img data-price=prod_price data-currency=currency, onclick="UIkit.notification({message: 'تمت إضافة المنتج إلى سلة التسوق الخاصة بك.', timeout: 500})")
                                .front
                                    span.buy__for!= buy_for 
                                    |&nbsp;
                                    != prod_price 
                                    span!= currency
                                .back
                                    span!=add_cart
                            a.one-clk__order.add-to-cart(data-pid=prod_id data-name=prod_name data-img=prod_img data-price=prod_price data-currency=currency)
                                span!= prod_order
                


                +product_item('hit hair', pid_1_prod_id, pid_1_prod_img, pid_1_prod_name, pid_1_prod_price, currency )
                +product_item('hit tints face', pid_2_prod_id, pid_2_prod_img, pid_2_prod_name, pid_2_prod_price, currency )
                +product_item('hit face', pid_3_prod_id, pid_3_prod_img, pid_3_prod_name, pid_3_prod_price, currency )
                +product_item('hit face', pid_4_prod_id, pid_4_prod_img, pid_4_prod_name, pid_4_prod_price, currency )
                +product_item('hit body', pid_5_prod_id, pid_5_prod_img, pid_5_prod_name, pid_5_prod_price, currency )
                +product_item('hit body', pid_6_prod_id, pid_6_prod_img, pid_6_prod_name, pid_6_prod_price, currency )
                +product_item('hit tints face', pid_7_prod_id, pid_7_prod_img, pid_7_prod_name, pid_7_prod_price, currency )
                +product_item('hit hair', pid_8_prod_id, pid_8_prod_img, pid_8_prod_name, pid_8_prod_price, currency )
                +product_item('hair', pid_9_prod_id, pid_9_prod_img, pid_9_prod_name, pid_9_prod_price, currency )
                +product_item('hair', pid_10_prod_id, pid_10_prod_img, pid_10_prod_name, pid_10_prod_price, currency )        
                +product_item('hair', pid_11_prod_id, pid_11_prod_img, pid_11_prod_name, pid_11_prod_price, currency )
                +product_item('sets', pid_12_prod_id, pid_12_prod_img, pid_12_prod_name, pid_12_prod_price, currency )
                +product_item('sets', pid_13_prod_id, pid_13_prod_img, pid_13_prod_name, pid_13_prod_price, currency )
                +product_item('sets', pid_14_prod_id, pid_14_prod_img, pid_14_prod_name, pid_14_prod_price, currency )
                +product_item('sets', pid_15_prod_id, pid_15_prod_img, pid_15_prod_name, pid_15_prod_price, currency )
                +product_item('tints face', pid_16_prod_id, pid_16_prod_img, pid_16_prod_name, pid_16_prod_price, currency )
                +product_item('tints face', pid_17_prod_id, pid_17_prod_img, pid_17_prod_name, pid_17_prod_price, currency )
                +product_item('tints face', pid_18_prod_id, pid_18_prod_img, pid_18_prod_name, pid_18_prod_price, currency )
                +product_item('tints face', pid_19_prod_id, pid_19_prod_img, pid_19_prod_name, pid_19_prod_price, currency )
                //- +product_item('tints face', pid_20_prod_id, pid_20_prod_img, pid_20_prod_name, pid_20_prod_price, currency )

    
//end product wrapper
.press
    .container
        .title
            h2!= press_title
        .press_slider
            mixin press_slider (img)
                .item
                    img(src=img, alt="")

            +press_slider(img_1)
            +press_slider(img_2)
            +press_slider(img_3)
        //end press slider
    //end container
// end press        