.hero__slider
    mixin hero_slider_item(img, hero_text1,hero_text2,hero_text3)
        .item(class!=attributes.class)
            .hero__slider_image
                img(src=img, alt="", srcset="")
            .container
                .text    
                    .__1!= hero_text1
                    .__2!= hero_text2
                    .__3!= hero_text3 
                .button
                    span!= button_text
            //end container
        //end item
    
    +hero_slider_item(hero_1_img, hero_1_text1,hero_1_text2,hero_1_text3)(class="__1")
    
//end hero slider               
.product__wrapper
    .container
        .title
            h2!= product_list_title
        .product__nav
            ul
                mixin product_nav(link, link_name)
                    li(class!=attributes.class)  
                        a(href=link)!= link_name

                +product_nav(link_1, link_name_1 )(class="active")
                +product_nav(link_1, link_name_2 )
                +product_nav(link_1, link_name_3 )
                +product_nav(link_1, link_name_4 )
                +product_nav(link_1, link_name_5 )
                +product_nav(link_1, link_name_6 )
        //end product nav
        mixin product_item( prod_id, prod_img, prod_name, prod_price )
            .product__item
                div
                    .product__image.select_prod(data-pid=prod_id)
                        img(src=prod_img, alt="", srcset="")
                    .product__name.select_prod(data-pid=prod_id)
                        p!= prod_name
                    .product__item__price.add-to-cart(data-pid=prod_id data-name=prod_name data-price=prod_price)
                        p!= prod_price 
                            span!=currency
                    a.one-clk__order.add-to-cart(data-pid=prod_id data-name=prod_name data-price=prod_price)
                        span!= prod_order
        


        +product_item(pid_1_prod_id, pid_1_prod_img, pid_1_prod_name, pid_1_prod_price )
        +product_item(pid_2_prod_id, pid_2_prod_img, pid_2_prod_name, pid_2_prod_price )
        +product_item(pid_3_prod_id, pid_3_prod_img, pid_3_prod_name, pid_3_prod_price )


    
//end product wrapper
.press
    .container
        .title
            h2!= press_title
        .press_slider
            mixin press_slider (img)
                .item
                    img(src=img, alt="")

            +press_slider(img_1)
            +press_slider(img_2)
            +press_slider(img_3)
        //end press slider
    //end container
// end press        